/* цвет основного текста #757575 */
/* цвет вторичного текста #212121 */
/* белый цвет #ffffff */
/* акцент #2196F3 */
/* вторичный цвет фона #f5f4fA */
/* третичный цвет фона #2f303a */
/* вторичный цвет лого #000000 */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;
  --secondary-link-color: gba(255, 255, 255, 0.6);
  --secondary-logo-color: #000000;
  --box-color-gray: #eeeeee;
  --box-color-portfolio: #ececec;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}

/* page styles */

.page {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header styles */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--box-color-portfolio);
}

.header-container {
  display: flex;
  align-items: center;
}
.a {
  margin: 0;
}
.navigation {
  align-items: center;
  /* !!!без цього костиля  лого чьомусь не стає по середині!!! */
}
.logo {
  display: block;
  margin-right: 93px;

  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.span-logo {
  color: var(--secondary-logo-color);
}
.navigation,
.site-navigation {
  display: flex;
}

.header-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.site-navigation {
  display: flex;
  gap: 50px;
}

.navigation .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .contacts-link {
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.navigation .link:hover,
.navigation .link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.site-navigation .link.current {
  color: var(--accent-color);
}

/* main styles */

.hero {
  background-color: var(--tertiary-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.container-list {
  display: flex;
}
.container-list {
  margin-left: 15px;
  gap: 30px;
}

.container-benefits {
  margin-top: 94px;
}
.container-title {
  margin-bottom: 10px;
}

.container-subtitle {
  margin-top: 10px;
  max-width: 270;
}

.container-doing {
  margin-top: 94px;
}

.container-doing-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.title {
  color: var(--secondary-text-color);

  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subtitle {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--secondary-text-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-team {
  margin-top: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-section-list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.team {
  background-color: var(--secondary-bg-color);
}

.container-team-name {
  margin-top: 30px;
}

.team-list-item {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-team-position {
  margin-top: 10px;
  margin-bottom: 30px;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* portfolio main */

.container-btn-list {
  padding-top: 94px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio-section-btn {
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn-all {
  display: flex;
  padding: 6px 25px;
  /* !!!тут мабуть помилка у макеті бо на цій кнпоці паддінг інший!!! */
}

.container-btn {
  display: flex;
  padding: 6px 22px;
}
.portfolio-section-btn:hover,
.portfolio-section-btn:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--primary-white-color);
}

.container-card {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  width: 370px;
  background-color: var(--primary-white-color);
}

.project-title {
  margin-left: 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-name {
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.container-border {
  padding-top: 20px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--box-color-gray);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--box-color-gray);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--box-color-gray);
}

/* footer styles */

.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  background-color: var(--tertiary-bg-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-span {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.container-footer-list {
  margin-top: 9px;
}
.footer-link {
  color: var(--primary-white-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts {
  color: var(--secondary-link-color);

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
